body {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 10vh;
    background: black
}
header img{
    margin-left: 10%;
}
thead th {
    background: darkgray;
    color:white;
    text-align: center;
    border: 2px solid black!important
}
.table>tbody>tr>th,.table>tbody>tr>td {
    border: 2px solid black
}
.createMainPage {
    float: right;
    margin-top:-8vh;
    margin-right: 5vw;
    padding: 7px 15px;
    border-radius: 10%;
    border: 4px solid black;
    color:black!important;
    text-decoration: none !important
}
.modalData {
    display: flex;
    flex-direction: row;
    color:blue;
}
.modalData span {
    color:black
}
.modalDataCreated {
    margin:0 4vw;
}
.modalDataUpdated {
    margin: 0 4vw;
}
form {
    width: 40vw;
}
.page {
    position: relative;
    left:40%;
}
.page a {
    margin:0 1vw;
}